In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from selenium import webdriver
from flask import Flask, render_template, redirect 
from flask_pymongo import PyMongo

In [5]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# NASA Mars News
# NASA Mars News

In [6]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html

In [7]:
soup = bs(html, "html.parser")
type(soup)

bs4.BeautifulSoup

In [8]:
news_title = soup.find('div',class_ = 'content_title').text
news_p = soup.find('div',class_ = 'article_teaser_body').text
    
print(f"news_title: {news_title}")
print(f"news_p :{news_p}")

news_title: Mars InSight's Mole Has Partially Backed Out of Its Hole
news_p :After making progress over the past several weeks digging into the surface of Mars, InSight's mole has backed about halfway out of its hole this past weekend.

In [ ]:
### JPL Mars Space Images - Featured Image
### JPL Mars Space Images - Featured Image

In [11]:
url_1 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_1)
html_1 = browser.html
soup = bs(html_1, 'html.parser')

In [12]:
img_url = soup.find('div',class_ = 'img').find('img')['src']
featured_image_url = 'https://www.jpl.nasa.gov' + img_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23523-640x350.jpg'

In [13]:
### Mars Weather
### Mars Weather

In [15]:
url_tweet = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_tweet)
html_tweet = browser.html
soup = bs(html_tweet, 'html.parser')

In [16]:
latest_tweets = soup.find_all('div', class_='js-tweet-text-container')


for tweet in latest_tweets: 
    weather_tweet = tweet.find('p').text
    if 'twitter' in weather_tweet:
        pass
    else: 
        mars_weather = weather_tweet
        
mars_weather

'InSight sol 315 (2019-10-15) low -101.6ºC (-150.9ºF) high -24.3ºC (-11.7ºF)\nwinds from the SSE at 5.4 m/s (12.0 mph) gusting to 20.4 m/s (45.7 mph)\npressure at 7.10 hPa'

In [ ]:
### Mars Hemispheres
### Mars Hemispheres

In [17]:
url_mars_hemi = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_mars_hemi)
links = browser.find_by_css("a.product-item img")
hemisphere_image_urls = []
for i in range(len(links)):
    browser.find_by_css("a.product-item img")[i].click()
    title = browser.find_by_css("h2").text
    sample = browser.find_link_by_text('Sample').first
    img_url = sample['href']
    hemisphere_image_urls.append({"title": title, "img_url": img_url})
    
    browser.back()

In [ ]:
### Mars Facts
### Mars Facts

In [18]:
url = "https://space-facts.com/mars/"

In [19]:
tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [20]:
mars_facts_df = tables[1]
mars_facts_df.columns = ['','Value']
mars_facts_df = mars_facts_df.set_index('')
mars_facts_df

                                              Value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [21]:
html_table = mars_facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
mars_facts_html = mars_facts_df.to_html('table.html')

In [23]:
mars_data = {"news_title":news_title,
            "news_p": news_p,
            "featured_image_url": featured_image_url,
            "mars_weather": mars_weather,
            "hemisphere_image_urls":hemisphere_image_urls,
            "mars_facts_html":mars_facts_html}

In [24]:
browser.quit()